
body{
    
    background-image: url("img/clue-header.png");
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    background-position: -410px 0px;
    max-width: 100vw;
    

}

.nav-bar{
  height: 35px;
  background-color: rgb(202, 179, 179);
  margin-top: -18px;
  margin-left: -8px;
  margin-right: -8px;
  

}

.nav-bar ul{
  overflow: hidden;
  list-style-type: none;

}

.nav-bar li{

  float: right;
  border-right:1px solid brown;


}

.nav-bar li a{

  display: block;
  color: black;
  background-color: #cf7724;
  text-align: center;
  padding: 8.4px 11.5px;
  text-decoration: none;

}

.nav-bar li a:hover {
  background-color: #9c1313;
}

.nav-bar .game-name{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 9.5px 11.5px;
  text-decoration: none;
}

.nav-bar li:last-child{

  border-right: none;
}

.owner-bedroom{
  width: 98%;
  height: 95%;
  position: absolute;
  background-image: url("owner/TBojQhSP_4x\ \(2\).jpg");
  background-repeat: no-repeat ;
  background-size: contain;
  background-position: center;
}

.dialogue-box {
  background-image: url("img/Asset\ 1.png");
  width: 70%;
  height: 34%;
  position: absolute;
  background-repeat: no-repeat ;
  background-size: contain;
  top: 30%;
  left: 23%;

}

.dialogue-box .text{
  width: inherit;
  height: inherit;
  position: absolute;
  
}

.dialogue-box .text h1{
  text-align: center;
  font-weight: bolder;
  left: 200px;
}

.dialogue-box .text p{

  font-family: 'Advent Pro';

  font-weight: bold;
  
  font-size: large;

  line-height: 1.5;

  color: rgb(76, 18, 18);

  padding-left: 80px;
  padding-right: 80px;
  
}

.dialogue-box button{

  font-family: 'Advent Pro';
  font-weight: bolder;
  color: rgb(245, 48, 48);
  background-color: coral;
  margin-top: 18%;
  margin-left: 61%;
  padding: 2px 5px 2px 5px;
  font-size: medium;
}

.closet1{
  display: none;
  position: absolute;
  top: 12.9%;
  left: 9.2%;
}

.closet1 img{

  width: 82%;
  height: 80%;

}

.closet1:hover{

  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}

.wardrobe1{
  display: none;
  position: absolute;
  top: 59%;
  left: 73.7%;

}

.wardrobe1 img{

  width: 70%;
  height: 70%;

}

.wardrobe1:hover{

  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}

.open-closet{
  display: none;
  position: absolute;
  top: 1%;
  left: 30%;
}

.open-closet img{
  
  width: 53%;
  height: 53%;
}

.wardrobe-select{
  display: none;
  position: absolute;
  top: 1%;
  left: 30%;
  
}

.wardrobe-select img{
  width: 53%;
  height: 53%;
}

.drawer-select{
  display: none;
  position: absolute;
  top: 34.2%;
  left: 41.15%;
}

.drawer-select img{
  width: 53%;
  height: 53%;
}

.drawer-select :hover{

  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}

.drawer2-select{
  display: none;
  position: absolute;
  top: 46.25%;
  left: 41.15%;
}

.drawer2-select img{
  width: 53%;
  height: 53%;
}

.drawer2-select :hover{

  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}

.gun{
  display: none;
  position: absolute;
  top: 1%;
  left: 30%;
}

.gun img{
  width: 53%;
  height: 53%;
}

.safe-select{
  display: none;

  position: absolute;
  top: 13.5%;
  left: 45.8%;

}
.safe-select img{

  width: 24%;
  height: 24%;

}

.safe-select:hover{
  
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}

.open-safe {

  display: none;
  position: absolute;
  top: 1%;
  left: 30%;
  
}

.open-safe img{

  width: 100%;
  height: 96%;

}

.to-living-room{

  display: none;

  font-family: 'Advent Pro';
  font-weight: bolder;
  color: rgb(245, 48, 48);
  background-color: coral;
  margin-left: 85%;
  margin-top: 10px;
  padding: 2px 5px 2px 5px;
  font-size: medium;

}

.hidden_knife{
  
  display: none;
  position: absolute;
  top: 58.3%;
  left: 44%;

}
.hidden_knife img{

  width: 12%;
  height: 12%;

}

.hidden_knife:hover{
  
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}

.the_knife {

  display: none;
  position: absolute;
  top: 1%;
  left: 30%;
  
}

.the_knife img{

  width: 80%;
  height: 80%;

}